.map-container{
    width: 100%;
    height: 100vh;
    background: rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;    
}
.map-container .map{
    border: 5px solid black;
}
