.carousel-wrapper {
  width: 100%;
  height: 100vh;
  position: relative;
  /* border: 1px solid red; */
}

.carousel-container {
  overflow: hidden;
  height: 100vh;
}

.carousel-track {
  display: flex;
  transition: transform 0.5s ease-in-out;
  height: 100vh;
}

.carousel-slide {
  min-width: 100%;
  height: 100vh;
}
.carousel-slide img {
  width: 100%;
  height: 100%;
}

.carousel-container-mobile {
  height: 90vh;
  width: 100%;
  overflow: hidden;
  display: none;
}

.carousel-container-mobile .carousel-track{
  /* border: 1px solid green; */
  height: 100%;
  width: 100%;
}

.carousel-slide img {
  width: 100%;
  height: 100%;
  /* object-fit: cover; */
}

.carousel-bubbles {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 30px;
  background: rgba(255, 255, 255, .3);
  backdrop-filter: blur(20px);
  position: absolute;
  border-radius: 2rem;
  top: 93%;
  left: 50%;
  transform: translate(-50%, 0);
}

.carousel-bubble {
  width: 12px;
  height: 12px;
  margin: 0 4px;
  border-radius: 50%;
  background-color: white;
  transition: background-color 0.3s ease;
}

.carousel-bubble.active {
  background-color: rgb(77, 77, 77);
}

.button_container {
  display: flex;
  gap: .5rem;
  position: absolute;
  top: 82%;
  left: 50%;
  transform: translate(-50%, 0);
}

.shop-btn {
  padding: .7rem 1.5rem;
  background: white;
  border-radius: 2rem;
  text-decoration: none;
  font-size: 18px;
  font-weight: 600;
  color: black;
  box-shadow: 4px 4px 20px rgba(0, 0, 0, .3);
  display: flex;
  align-items: center;
  gap: .5rem;
  overflow: hidden;
  position: relative;
 
  
}
.shop-btn::after{
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: black;
  left: -100%;
  /* bottom: -100%; */
  border-radius: 50%;
  transition: all ease 0.3s;
  z-index: -1;
 
}
.shop-btn:hover::after{
  left: 0;
  height: 40%;
  width: 15%;
  border-radius: 50%;
  left: 70%;
 
  
}
.shop-btn {
  color: black;
  text-decoration: none;
  position: relative;
  z-index: 9;
}
.shop-btn:hover  svg {
  color: white
}




.custome-btn {
  padding: .25rem .25rem;
  background: #989898;
  border-radius: 2rem;
  text-decoration: none;
  font-size: 18px;
  font-weight: 600;
  color: black;
  box-shadow: 4px 4px 20px rgba(0, 0, 0, .3);
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden  ;
}

.custome-btn div {
  text-wrap: nowrap;
  padding: 0 1.2rem;
  background: white;
  height: 100%;
  border-radius: 2rem;
  display: flex;
  align-items: center;
}

.custome-btn .icon {
  background: transparent;
  padding: .5rem;
  border-radius: 50%;
}

.custome-btn::after{
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: black;
  left: -100%;
  /* bottom: -100%; */
  border-radius: 50%;
  transition: all ease 0.3s;
  z-index: 9;
 
}
.custome-btn:hover::after{
  left: 0;
  height: 50%;
  width: 15%;
  border-radius: 50%;
  left: 80%;
 
  
}
.custome-btn {
  color: black; 
  text-decoration: none;
  position: relative;
  z-index: 9;
}
.custome-btn:hover .icon svg {
  z-index:99;
  color: white;
}

@media screen and (max-width:765px) {
  .carousel-wrapper {
    height: 92vh;
  }
  .button_container {
    top: 80%;
  }

  .shop-btn {
    padding: .2rem 1rem;
    font-size: 16px;
    text-wrap: nowrap;
    gap: .2rem;
  }

  .button_container {
    gap: .3rem;
  }

  .carousel-bubbles {
    top: 90%;
  }

  .carousel-container {
    display: none;
  }

  .carousel-container-mobile {
    display: block;
  }
}