.outfit-container {
    width: 100%;
    height: fit-content;
    padding: 4rem 0;
    margin: 4rem 0;
    display: flex;
    align-items: center;
    justify-content: center;
    .grid-container {
        width: 65%;
        height: fit-content;
        display: flex;
        flex-direction: column;
        gap: 1rem;
        .row-one {
            width: 100%;
            height: 600px;
            display: flex;
            gap: 1rem;
            .column-one {
                width: 100%;
                height: 100%;
                display: flex;
                flex-direction: column;
                gap: 1rem;
                .image-container {
                    width: 100%;
                    height: 50%;
                    position: relative;
                    overflow: hidden;
                    img {
                        width: 100%;
                        height: 100%;
                        border-radius: 0;
                    }
                    .detail {
                        width: 90%;
                        padding: 0.6rem 1rem;
                        background: rgba(255, 255, 255, 0.4);
                        backdrop-filter: blur(10px);
                        position: absolute;
                        top: 82%;
                        left: 50%;
                        transform: translate(-50%, 0);
                        z-index: 99;
                        border-radius: 5px;
                        display: flex;
                        align-items: center;
                        justify-content: space-between;
                        h3 {
                            font-size: 18px;
                            color: white;
                            text-transform: capitalize;
                        }
                    }
                }
            }
            .column-two {
                width: 100%;
                height: 100%;
                .image-container {
                    width: 100%;
                    height: 100%;
                    position: relative;
                    overflow: hidden;
                    img {
                        width: 100%;
                        height: 100%;
                        border-radius: 0;
                    }
                    .detail {
                        width: 90%;
                        padding: 0.6rem 1rem;
                        background: rgba(255, 255, 255, 0.4);
                        backdrop-filter: blur(10px);
                        position: absolute;
                        top: 90%;
                        left: 50%;
                        transform: translate(-50%, 0);
                        z-index: 99;
                        border-radius: 5px;
                        display: flex;
                        align-items: center;
                        justify-content: space-between;
                        h3 {
                            font-size: 18px;
                            color: white;
                            text-transform: capitalize;
                        }
                    }
                }
            }
        }
        .row-two {
            height: 300px;
            overflow: hidden;
            width: 100%;
            .image-container {
                height: 300px;
                width: 100%;
                position: relative;
                overflow: hidden;
                border: 1px solid black;
                border-radius: 10px;
                img {
                    width: 100%;
                    height: 100%;
                    border-radius: 0;
                }
                .detail {
                    width: 90%;
                    max-width: 500px;
                    padding: 0.6rem 1rem;
                    background: rgba(64, 64, 64, 0.4);
                    backdrop-filter: blur(10px);
                    position: absolute;
                    top: 82%;
                    left: 50%;
                    transform: translate(-50%, 0);
                    z-index: 99;
                    border-radius: 5px;
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    h3 {
                        font-size: 18px;
                        color: white;
                        text-transform: capitalize;
                    }
                }
            }
        }
        .row-three {
            width: 100%;
            height: 300px;
            display: flex;
            gap: 1rem;
            .column-one {
                width: 100%;
                height: 100%;
                overflow: hidden;
                position: relative;
                .image-container {
                    height: 100%;
                    position: relative;
                    border-radius: 10px;
                    overflow: hidden;
                    img {
                        width: 100%;
                        height: 100%;
                        border-radius: 10px;
                    }
                    .detail {
                        width: 90%;
                        padding: 0.6rem 1rem;
                        background: rgba(255, 255, 255, 0.4);
                        backdrop-filter: blur(10px);
                        position: absolute;
                        top: 82%;
                        left: 50%;
                        transform: translate(-50%, 0);
                        z-index: 99;
                        border-radius: 5px;
                        display: flex;
                        align-items: center;
                        justify-content: space-between;
                        h3 {
                            font-size: 18px;
                            color: white;
                            text-transform: capitalize;
                        }
                    }
                }
            }
            .column-two {
                height: 100%;
                overflow: hidden;
                .image-container {
                    height: 100%;
                    position: relative;
                    border-radius: 10px;
                    overflow: hidden;
                    img {
                        width: 100%;
                        height: 100%;
                    }
                    .detail {
                        width: 90%;
                        padding: 0.6rem 1rem;
                        background: rgba(255, 255, 255, 0.4);
                        backdrop-filter: blur(10px);
                        position: absolute;
                        top: 82%;
                        left: 50%;
                        transform: translate(-50%, 0);
                        z-index: 99;
                        border-radius: 5px;
                        display: flex;
                        align-items: center;
                        justify-content: space-between;
                        h3 {
                            font-size: 18px;
                            color: white;
                            text-transform: capitalize;
                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width:765px) {
    .outfit-container{
        .grid-container{
            width: 95%;
            .row-one{
                height: 400px;
                .column-one{
                    .image-container{
                        .detail{
                            top: 75%;
                        }
                    }
                }
                .column-two{
                    .image-container{
                        .detail{
                            top: 85%;
                        }
                    }
                }
            }
            .row-two{
                height: fit-content;
                border: 1px solid green;
                img{
                    height: 200px;
                }
            }
        }
    }
}
