.default-card {
  height: -moz-fit-content;
  height: fit-content;
}
.trending-product-container .trending-wrapper .default-card .card {
  min-width: 300px;
  width: 95%;
  height: -moz-fit-content;
  height: fit-content;
  align-items: center;
  overflow: hidden;
  gap: 0.4rem;
}
.default-card .card img {
  width: 100%;
  height: 320px;
  aspect-ratio: 1;
  border-radius: 10px;
}
.default-card .card .card-detail {
  width: 100%;
  height: 100%;
  padding: 0 0.6rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.default-card .card .card-detail h2 {
  font-size: 14px;
  text-transform: uppercase;
  font-weight: 400;
  color: var(--text-color);
}
.default-card .card .card-detail h3 {
  font-size: 16px;
  color: grey;
  font-weight: 500;
  color: black;
}