.main-cart-page{
    width: 100%;
    height: 93vh;
    // padding: 4rem 1rem 1rem 1rem;
    .main-cart-wrapper{
        width: 100%;
        height: 100%;
        border: 1px solid red;
        .header{
            display: flex;
            align-items: center;
            justify-content: space-between;
            width: 96%;
            margin: 0 auto;
            padding: .4rem 0;
            .back-btn{
                width: 40px;
                height: 40px;
                border-radius: 10px;
                background: rgba(0,0,0,.1);
                display: flex;
                align-items: center;
                justify-content: center;
            }
            img{
                width: 100px;
            }
        }   
    }
}