.auth-container{
    width: 100%;
    height: 150vh;
    position: absolute;
    top: 0%;
    left: 0%;
    z-index: 99999;
    background: #E5E7EC;
    .auth-wrapper{
        width: 100%;
        height: 100vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 1rem;
        h1{
            font-size: 24px;
            text-transform: uppercase;
        }
        .auth-form-container{
            width: 100%;
            height: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            img{
                width: 150px;
            }
        }
    }
}
.login-container{
    width: 30%;
    // height: 100%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    h2{
        font-size: 20px;
        text-transform: uppercase;
    }
    input{
        padding: .8rem 1rem;
        font-size: 16px;
        border: none;
        outline: none;
        border-radius: 5px;
    }
    p{
        
        text-transform: uppercase;
        font-size: 14px;
    }
    .login-btn{
        padding: .8rem 0;
        background: black;
        color: white;
        text-transform: uppercase;
        font-size: 16px;
        border-radius: 2rem;
        cursor: pointer;
    }
    .sign-btn{
        padding: .8rem 0;
        background: transparent;
        color: black;
        border: 1px solid black;
        text-transform: uppercase;
        font-weight: 600;
        font-size: 16px;
        border-radius: 2rem;
        cursor: pointer;
    }
    .line{
        width: 100%;
        height: 1px;
        background: black;
    }

}