
.product-card {
    width: 100%;
    margin-top: 15px;
    .product-image {
        position: relative;
        .cart-button {
            position: absolute;
            top: 4%;
            right: 4%;
            width: 30px;
            height: 30px;
            border-radius: 5px;
            background: white;
            display: flex;
            align-items: center;
            justify-content: center;
            cursor: pointer;
            svg {
                width: 20px;
            }
        }
        img {
            width: 100%;
            // display: none;
            // aspect-ratio: 1;
            height: 280px;
            border-radius: 5px;
        }
    }
    .product-detail {
        // border: 1px solid red;
        margin-top: 0.2rem;
        display: flex;
        flex-direction: column;
        gap: 0.2rem;
        h2 {
            font-size: 14px;
            text-transform: uppercase;
            font-weight: 400;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            width: 260px;
            font-family: "Roboto Mono", monospace;
            // text-wrap: nowrap;
        }
        .price-detail {
            display: flex;
            align-items: center;
            justify-content: space-between;
            h3 {
                font-size: 15px;
                font-weight: 500;
                font-family: "Roboto Mono", monospace;
            }
            .cancel{
                text-decoration: line-through;
                color: grey;
            }
            h4{
                font-size: 14px;
                color: red;
                text-transform: uppercase;
                font-weight: 500;
            }
        }
    }
}

@media screen and (max-width: 765px) {
    .product-card {
        margin-top: 10px;
        .product-image {
            .cart-button {
                svg {
                    width: 17px;
                }
            }
            img {
                height: 200px;
            }
        }
        .product-detail {
            h2 {
                font-size: 12px;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
                max-width: 170px;
            }
            .price-detail {
                h3 {
                    font-size: 12px;
                }
                .cancel {
                    text-decoration: line-through;
                }
                h4{
                    font-size: 12px;
                }
            }
        }
        button {
            svg {
            }
        }
    }
}
