.product-card{
    width: 100%;
    height: 500px;
    border: 1px solid grey;
    display: grid;
    grid-template-rows: 9fr 2fr 1fr;
    padding: .4rem;
    border-radius: 1rem;
    .product-image{
        width: 100%;
        height: 100%;
        border-radius: 12px;
        overflow: hidden;
        img{
            width: 100%;
            height: 100%;
        }
    }
    .product-detail{
        display: flex;
        flex-direction: column;
        margin-top: .3rem;
        padding: .2rem;
        h2{
            font-size: 18px;
            font-weight: 500;
        }
        h3{
            font-size: 18px;
            color: rgba(0,0,0,.5);
        }
    }
    button{
        width: 100%;
        padding: .8rem 0;
        font-size: 18px;
        color: white;
        background: black;
        border-radius: 12px;
        border: none;
        display: flex;
        align-items: center;
        justify-content:center;
        gap: .8rem;
        svg{
            width: 25px;
        }
    }
    
}

@media screen and (max-width:765px) {
   .product-card{
    height: 350px;
    padding: .3rem;
    grid-template-rows: 8fr 3fr 1fr;

    button{
        font-size: 16px;
        svg{
            width: 20px;
        }
    }
   }
}