.text-container{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    /* flex-wrap: wrap; */
    align-items: center;
    justify-content: center;
    gap: 2rem;
    /* background: var(--bg-color); */
    
}
.text-container h2{
    display: flex;
    width: 60%;
    font-size: 2.4rem;
    font-weight: 600;
    flex-wrap: wrap;
    color: rgba(111, 111, 111, 0.3);
    gap: 10px;  
    /* border: 1px solid red; */
}


@media screen and (max-width:765px) {
    .text-container h2{
        width: 86%;
        font-size: 1.5rem;
    }
}