.text-container{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}
.text-container h2{
    font-size: 2.4rem;
    width: 45%;
    font-weight: 600;
    color: rgba(0,0,0,0.3);
}
.text-container h2 span{
    color: black;
}