.trending-product-container{
    width: 100%;
    height: 140vh;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    flex-direction: column;
    .trending-wrapper{
        width: 90%;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 1rem;
        .default-card {
            height: fit-content;
            // margin-top: 15px;
            .card {
                min-width: 300px;
                width: 95%;
                height: fit-content;
                border: 1px solid grey;
                display: grid;
                align-items: center;
                grid-template-rows: 10fr 2fr;
                overflow: hidden;
                gap: 0.4rem;
                padding: 0.5rem;
                border-radius: 2rem;
                img {
                    width: 100%;
                    height: 320px;
                    aspect-ratio: 1;
                    border-radius: 1.5rem;
                }
                .card-detail {
                    width: 100%;
                    height: 100%;
                    padding: 0 0.6rem;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    h2 {
                        font-size: 22px;
                        font-weight: 500;
                        color: var(--text-color);
                    }
                    h3 {
                        color: grey;
                    }
                }
            }
        }
        @media screen and (max-width:765px) {
            .default-card{
                height: 500px;
                .card{
                    height: 100%;
                    img{
                        height: 100%;
                    }
                }
            }
        }
    }
    button{
        padding: .7rem 2rem;
        font-size: 18px;
        font-weight: 600;
        background: var(--button-bg);
        color: var(--button-text);
        border: none;
    }
}
@media screen and (max-width: 768px){
    .trending-product-container{
        height: fit-content;
        padding: 0 0 2rem 0;
        .trending-wrapper{
            width: 95%;
            grid-template-columns: repeat(2, 1fr);
            gap: .5rem;
            .default-card{
                height: 250px;
                .card{
                    min-width: 100%;
                    height: fit-content;
                    min-height: 250px;
                    border-radius: 15px;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    img{
                        height: 100%;
                        border-radius: 10px;
                        // aspect-ratio: 1;
                    }
                    .card-detail{
                        height: fit-content;
                        padding: 0 0.6rem;
                        h2{
                            font-size: 16px;
                        }
                        h3{
                            font-size: 16px;
                        }
                    }
                }
            }
        }
    }
    
}