.trending-product-container{
    width: 100%;
    height: 140vh;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    flex-direction: column;
    .trending-wrapper{
        width: 90%;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
    }
    button{
        padding: .7rem 2rem;
        font-size: 18px;
        font-weight: 600;
        background: var(--button-bg);
        color: var(--button-text);
        border: none;
    }
}