.profile-container{
    width: 100%;
    height: 100vh;
    position: relative;
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    .back-btn{
        display: flex;
        align-items: center;
        gap: .3rem;
        border: 1px solid black;
        width: fit-content;
        padding: .4rem 1.2rem .4rem 1rem;
        border-radius: 2rem;
        cursor: pointer;
        transition: .2s all;
        position: absolute;
        top: 2%;
        left: 2%;
        &:hover{
            background: rgba(0,0,0,.1);
        }
        svg{
            width: 20px;
        }
        font-size: 16px;
        font-weight: 500;
    }
}