.profile-container {
    width: 100%;
    height: 100vh;
    // background: #e5e7ec;
    background: white;
    padding: 1.2rem;
    .profile-header {
        display: flex;
        align-items: center;
        gap: 1rem;
        .back-btn {
            width: 45px;
            height: 45px;
            display: flex;
            align-items: center;
            justify-content: center;
            svg {
                width: 30px;
            }
        }
        h2 {
            font-size: 24px;
            text-transform: uppercase;
        }
    }
    .profile-wrapper {
        width: 90%;
        height: 90%;
        margin: 1rem auto;
        display: flex;
        gap: 1.5rem;
        .profile-sidenav {
            margin-top: 1rem;
            width: 15%;
            display: flex;
            flex-direction: column;
            align-items: flex-end;
            gap: 0.5rem;
            div {
                font-size: 18px;
                text-transform: uppercase;
                cursor: pointer;
            }
        }
        .line {
            height: 200px;
            width: 1px;
            background: grey;
        }
        .profile-outlet {
            width: 85%;
            .profile-main {
                width: 100%;
                height: 100%;
                padding: 0 1.5rem;
                margin-top: 1rem;
                display: flex;
                flex-direction: column;
                gap: 1rem;
                .section {
                    h2 {
                        font-size: 15px;
                        font-weight: 400;
                        text-transform: uppercase;
                        color: rgba(0, 0, 0, 0.8);
                    }
                    h3 {
                        font-size: 24px;
                        font-weight: 500;
                        text-transform: uppercase;
                    }
                }
                h2 {
                    font-size: 18px;
                    text-transform: uppercase;
                    font-weight: 500;
                    color: grey;
                }
                .address-container {
                    margin-top: 1rem;
                    display: flex;
                    gap: 1rem;
                    .address-box {
                        width: 260px;
                        height: 200px;
                        border: 2px dashed grey;
                        padding: 1rem 1.2rem;
                        display: flex;
                        flex-direction: column;
                        gap: 0.2rem;
                        position: relative;
                        h5 {
                            font-size: 16px;
                            font-weight: 500;
                            text-transform: uppercase;
                            color: grey;
                        }
                        .btns {
                            position: absolute;
                            bottom: 2%;
                            right: 2%;
                            display: flex;
                            gap: 0.5rem;
                            div {
                                width: 35px;
                                height: 35px;
                                background: rgba(0, 0, 0, 0.1);
                                display: flex;
                                align-items: center;
                                justify-content: center;
                                border-radius: 5px;
                                svg {
                                    width: 20px;
                                }
                            }
                        }
                    }
                    .add-box {
                        cursor: pointer;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        flex-direction: column;
                        gap: 1rem;
                        svg {
                            width: 35px;
                        }
                        h4 {
                            font-size: 14px;
                            font-weight: 400;
                            text-transform: uppercase;
                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width:765px) {
    .profile-container{
        padding: 0;
        height: fit-content;
        .profile-wrapper{
            flex-direction: column;
            .profile-sidenav{
                width: 100%;
                flex-direction: row;
                gap: 1rem;
                margin-top: 0;
            }
            .line{
                display: none;
            }
            .profile-outlet{
                width: 100%;
                .profile-main{
                    padding: 0;
                    margin-top: 0;
                    h2{
                        font-size: 16px;
                    }
                    .section{
                        h2{
                            font-size: 14px;
                        }
                        h3{
                            font-size: 18px;
                        }
                    }
                    .address-container{
                        flex-direction: column;
                    }
                }
            }
        }
    }
}

.order-history-container{
    width: 100%;
    height: 100%;
    overflow: scroll;
    border: 1px solid red;
}