.store-section{
    width: 100%;
    height: 110vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column  ;
    gap: 1.5rem;
}
.store-header{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.store-header h3{
    font-size: 1.5rem;
    line-height: .9;
    text-transform: uppercase;
    color: rgba(0, 0, 0, 0.2);
}
.store-image-container{
    width: 90%;
    height: 500px;
    margin-top: 2rem;
}
.store-image{
    width: 100%;
    height: 450px;
    object-fit: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}
.store-image img{
    width: 90%;
    height: 100%;
    object-fit: cover;
    border-radius: 2rem;
}
.store-section .slider-button{
    display: flex;
    gap: 2rem;
}
.slide-btn{
    width: 40px;
    height: 40px;
    border: 1px solid var(--text-color);
    display: flex;
    align-items: center;
    justify-content: center;
}
.slide-btn svg{
    color: var(--text-color);
}