.map-container {
    width: 100%;
    height: 120vh;
    margin-top: 5rem;
    padding: 2rem 0;
    background: rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.map-container .map {
    border: 5px solid black;
    margin-top: 2rem;
}

.map-container .shop-btn {
    padding: .7rem 2rem;
    font-size: 18px;
    font-weight: 600;
    background: var(--button-bg);
    color: var(--button-text);
    border: none;
}