.image-container{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.image-container img{
    width: 85%;
    height: 55vh;
    border-radius: 1rem;
}