.image-container{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.image-container img{
    width: 85%;
    height: 55vh;
    border-radius: 1rem;
}
@media screen and (max-width:765px) {
    .image-container{
        height: 80vh;
    }
    .image-container img{
        height: 30vh;
        width: 95%;
    }
}