.customize-container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
    gap: 2rem;
}
.customize-container img{
    width: 95%;
    border-radius: 2rem;
}
.custome-btn{
    width: fit-content;
    height: 55px;
    background: #989898;
    border-radius: 2rem;
    text-decoration: none;
    font-size: 18px;
    font-weight: 600;
    color: black;
    box-shadow: 4px 4px 20px rgba(0,0,0,.3);
    display: flex;
    align-items: center;
    justify-content: center;
}
.custome-btn div{
    text-wrap: nowrap;
    padding: 0 1.2rem;
    background: white;
    height: 100%;
    border-radius: 2rem;
    display: flex;
    align-items: center;
}