.item-card {
    width: 100%;
    height: 120px;
    display: grid;
    grid-template-columns: 3.5fr 8.5fr;
}

.img-wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.img-wrapper img {
    height: 120px;
}

.item-card .item-detail {
    width: 100%;
    height: 100%;
    padding: 0.2rem 0.4rem;
    display: flex;
    flex-direction: column;
    gap: 0.3rem;
}

.item-detail h2 {
    font-size: 13px;
    font-weight: 400;
    text-transform: uppercase;
}

.counter-div {
    display: flex;
    width: fit-content;
    padding: .2rem .5rem;
    align-items: center;
    gap: .8rem;
    border: 1px solid black;
    border-radius: 10px;
}

.counter-div h2 {
    font-size: 12px;
}