.brands-container{
    width: 100%;
    height: fit-content;
    position: absolute;
    top: 0%;
    left: 0%;
    z-index: 99999;
    background: white;
    background-image: url('../../../../public/assets/images/brand-background.png');
    background-size: cover;
    background-position: center;
    padding-bottom: 2rem;
    .brand-header{
        width: 100%;
        height: 35vh;
      display: flex;
      align-items: center;
      justify-content: center;
      h1{
        font-size: 3vw;
        color: white;
        text-shadow: 1px 1px 10px rgba(0, 0, 0, 0.3);
        text-align: center;
      }
    }
    .brand-filters{
        width: fit-content;
        display: flex;
        margin: 2rem auto;
        background: rgba(0, 0, 0, 0.3);
        backdrop-filter: blur(10px);
        border-radius: 2rem;
        padding: 0 .5rem;
        .filter{
            font-size: 18px;
            padding: .8rem 1.2rem;
            color: white;
            font-weight: 500;
        }
    }
    .brand-wrapper{
        width: 85%;
        background: white;
        overflow: hidden;
        height: fit-content;
        margin: 0 auto;
        border-radius: 2rem;
        border: 1px solid rgb(206, 206, 206);
        .brand-wrapper-header{
            padding: .8rem 2rem;
            border-bottom: 1px solid black;
            display: flex;
            align-items: center;
            gap: 1.5rem;
            h2{
                font-size: 20px;
                font-weight: 500;
            }
            div{
                padding: .4rem 1rem;
                border: 1px solid black;
                border-radius: 3rem;
                font-weight: 500;
            }
        }
       
        .brand-list{
            width: 100%;
            height: 85vh;
            overflow: scroll;
            border: 1px solid red;
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            .brand-box{
                width: 100%;
                height: 290px;
                display: flex;
                align-items: center;
                justify-content: center;
                border: 1px solid red;
                img{
                    width: 70%;
                }
            }
        }
    }
}