.order-detail-container {
    width: 100%;
    height: 100vh;
    background: rgba(0, 0, 0, 0.4);
    display: flex;
    align-items: center;
    justify-content: flex-end;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 9999;
    padding-right: 20px;
    @media screen and (max-width:765px) {
        padding-right: 0;
    }
    .backBtn{
        position: absolute;
        top: 2%;
        left: 2%;
        z-index: 99999;
        width: 40px;
        height: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
        background: rgba(0, 0, 0, 0.1);
        border-radius: 10px;
        @media screen and (max-width:765px) {
            display: flex;
        }
    }
    .order-detail-card {
        width: 28%;
        height: 95vh;
        background: white;
        border-radius: 15px;
        align-items: center;
        display: grid;
        overflow: scroll;   
        grid-template-rows: 3fr 9fr;
        position: relative;
        @media screen and (max-width:765px) {
            height: 100vh;
            width: 100%;
            // background: red;
        }
        @media screen and (max-width:765px) {
            width: 100%;
            height: 100vh;
            border-radius: 0;
            display: flex;
            flex-direction: column;

        }
        .order-header{
            width: 100%;
            height: 320px;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            img{
                width: 30%;
                margin-top: 2rem;
                margin-bottom: 1rem;
            }
            h1{
                font-size: 22px;
                font-weight: 600;
                margin-top: .6rem;
                text-transform: uppercase;
            }
            p{
                font-size: 15px;
                color: rgba(0, 0, 0, 0.5);
                font-weight: 500;
                margin-top: .2rem;
                margin-bottom: 1rem;
            }
        }
        .order-items{
            width: 100%;
            height: 100%;
            padding: .4rem .6rem;
            display: flex;
            flex-direction: column;
            gap: .5rem;
            .item{
                width: 100%;
                padding: .6rem 1rem;
                background: rgba(0, 0, 0, 0.06);
                border-radius: 10px;
                display: flex;
                align-items: center;
                justify-content: space-between;
                h3{
                    font-size: 14px;
                    font-weight: 500;
                }
                h4{
                    font-size: 15px;
                    text-transform: uppercase;
                    font-weight: 500;
                    margin-top: .2rem;
                }
                h5{
                    font-size: 14px;
                    text-transform: uppercase;
                    font-weight: 500;
                    color: grey;
                    margin-top: .2rem;
                }
                
                h6{
                    font-size: 16px;
                    text-transform: uppercase;
                    font-weight: 500;
                    margin-top: .2rem;
                }

            }
            .order-summary-2{
                width: 100%;
                height: fit-content;
                background: #fcfcfc;
                border: 1px solid #e8e8e8;
                margin-top: 1rem;
                border-radius: 1rem;
                .summary-header{
                    width: 100%;
                    padding: .6rem 1rem;
                    border-bottom: 1px solid #e8e8e8;
                    font-size: 16px;
                    text-transform: capitalize;
                    font-weight: 500;
                }
                .order-details-summary{
                    width: 100%;
                    padding: 1rem;
                    display: flex;
                    flex-direction: column;
                    gap: .5rem;
                    .order-item-summary{
                        width: 100%;
                        display: flex;
                        align-items: center;
                        justify-content: space-between;
                        h2{
                            font-size: 14px;
                            font-weight: 500;
                            color: grey;
                            text-transform: capitalize;
                        }
                        h3{
                            font-size: 14px;
                            font-weight: 500;
                            color: rgb(53, 53, 53);
                            text-transform: capitalize;
                        }
                    }
                }
            }
            .cancel-btn{
                width: 200px;
                padding: .7rem 0;
                background: red;
                border-radius: 1rem;
                margin: 1rem auto 0 auto;
                border: none;
                font-size: 16px;
                color: white;
                font-weight: 500;
                cursor: pointer;
            }
        }
    }
}
