.filter-page-container {
    width: 100%;
    height: 100vh;
    overflow: scroll;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 99999;
    backdrop-filter: blur(8px);
    background: rgba(0, 0, 0, 0.4);
    padding: 2rem;
    .filter-wrapper {
        width: 35%;
        margin-bottom: 2rem;
        display: flex;
        flex-direction: column;
        gap: 0.8rem;
    }
    .filter-header {
        width: 100%;
        padding: 0.8rem 1rem;
        background: #eaeaea;
        display: flex;
        align-items: center;
        justify-content: space-between;
        border-radius: 10px;
        h2 {
            font-size: 20px;
            font-weight: 500;
        }
    }
    .default-box-class{
        width: 100%;
        padding: 0.8rem 1rem;
        background: #eaeaea;
        border-radius: 10px;
        display: flex;
        flex-direction: column;
        gap: 1rem;
        h3 {
            font-size: 18px;
            font-weight: 600;
            color: rgba(0, 0, 0, 0.6);
        }
        .search-box{
            padding: .6rem 1rem;
            font-size: 16px;
            border: 1px solid black;
            border-radius: 5px;
        }
        .wrapper{
            display: flex;
            flex-wrap: wrap;
            gap: 0.5rem;
            .box{
                padding: 0.4rem 1rem;
                background: white;
                font-size: 16px;
                font-weight: 600;
                text-transform: capitalize;
                border-radius: 5px;
                cursor: pointer;
                user-select: none;
            }
        }
        .price-wrapper{
            display: flex;
            align-items: center;
            justify-content: space-between;
            gap: 1rem;
            .price-slider{
                width: 100%;
                height: 100%;
                display: flex;
                align-items: center;
                gap: .6rem;
                input{
                    width: 100%;
                    background: black;
                }
                h4{
                    font-size: 16px;
                    font-weight: 500;
                }
            }
            .price-show{
                display: flex;
                flex-direction: column;
                gap: .2rem;
                div{
                    min-width: 80px;
                    padding: .3rem .5rem;
                    background: white;
                    text-wrap: nowrap;
                    font-size: 18px;
                    font-weight: 600;
                    border-radius: 5px;
                }
            }
        }
    }
}

@media screen and (max-width: 765px) {
    .filter-page-container {
        height: fit-content;
        padding: 1rem .8rem;
        .filter-wrapper {
            width: 100%;
            height: 100vh;
            padding-bottom: 8rem;
            overflow: scroll;
        }
    }
}
