.footer-container {
    width: 100%;
    height: fit-content;
    background: black;
    display: flex;
    gap: 2rem;
    flex-direction: column;
    align-items: center;
    .box-one {
        padding: 2rem;
        width: 100%;
        display: flex;
        justify-content: space-between;
        // border: 1px solid white;
        h3 {
            font-size: 18px;
            font-weight: 500;
            color: white;
        }
        h2 {
            font-size: 4vw;
            font-weight: 500;
            color: white;
            margin-top: 2rem;
            padding-bottom: 0.6rem;
            border-bottom: 1px solid white;
        }
        .dialog-box {
            background: #d8ff68;
            padding: 1.5rem 1.5rem;
            border-radius: 2rem;
            h5 {
                font-size: 2.5rem;
            }
            button {
                width: 100%;
                padding: 0.8rem 0;
                font-weight: 600;
                font-size: 18px;
                background: black;
                border: none;
                color: white;
                border-radius: 10px;
                margin-top: 1rem;
            }
        }
    }
    .box-two {
        padding: 2rem;
        width: 100%;
        display: flex;
        justify-content: space-between;
        ul {
            flex-direction: column;
            display: flex;
            gap: 1rem;
            .item {
                font-weight: 600;
                color: white;
                line-height: 0.9;
                font-size: 32px;
                text-decoration: none;
                transition: 0.3s all;
                &:hover {
                    color: #d8ff68;
                }
            }
        }
        .detail-box {
            display: flex;
            flex-direction: column;
            gap: 1rem;
            div {
                display: flex;
                flex-direction: column;
                align-items: flex-end;
                gap: .5rem;
                h6 {
                    font-size: 28px;
                    color: white;
                    font-weight: 600;
                }
                p {
                    font-size: 18px;
                    color: rgb(118, 118, 118);
                    text-align: end;
                    font-weight: 400;
                }
            }
        }
    }
    h1{
        font-size: 15vw;
        text-transform: uppercase;
        color: white;
        font-weight: 500;
        line-height: .9;
        span{
            color: #d8ff68;
        }
    }
    .box{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        background: #d8ff68;
        font-size: 18px;
        font-weight: 600;
        color: black;
        padding: .8rem 0;
    }
}
