// Define theme variables
$light-bg: #ffffff;
$light-text: #333333;
$dark-bg: #1a1a1a;
$dark-text: #ffffff;
$black-color:#000;
$white-color:#fff;
// Define theme

[data-theme="light"] {
  --bg-color: #{$light-bg};
  --text-color: #{$light-text};
  --button-bg: #{$black-color};
  --button-text: #{$white-color};
}

[data-theme="dark"] {
  --bg-color: #{$dark-bg};
  --text-color: #{$dark-text};
  --button-bg: #{$white-color};
  --button-text: #{$black-color};
}
 
// body {
//   background-color: var(--bg-color);
//   color: var(--text-color);
//   transition: background 0.3s ease, color 0.3s ease;
// }
