.new-product-container {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2.4rem;
    .slider-container {
        width: 90%;
        height: 400px;
        overflow: hidden;
        gap: 1rem;
        .slider {
           
        }
    }
    .slider-button{
        display: flex;
        gap: 2rem;
        align-items: center;
        .slide-btn{
            width: 40px;
            height: 40px;
            border: 1px solid var(--text-color);
            display: flex;
            align-items: center;
            justify-content: center;
            svg{
                color: var(--text-color);
            }
        }
        button{
            padding: .7rem 2rem;
            font-size: 18px;
            font-weight: 600;
            background: var(--button-bg);
            color: var(--button-text);
            border: none;
        }
    }
}
