@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

/* font-family: "Roboto Mono", monospace; */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;

}
body{
  background: var(--bg-color);
}
*::-webkit-scrollbar{
  display: none;
}