.shop-container {
  width: 100%;
  height: -moz-fit-content;
  height: fit-content;
  margin-top: 5rem;
  margin-bottom: 5rem;
  padding: 0 2rem;
}
.shop-container div h3 {
  font-size: 16px;
  font-weight: 500;
}
.shop-container .heading-container {
  height: 150px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
.shop-container .heading-container .shop-heading {
  font-size: 3.5rem;
  font-weight: 500;
  font-family: "Roboto", sans-serif;
}
.shop-container .filter-button-float {
  display: flex;
  padding: 0.7rem 1.4rem;
  align-items: center;
  gap: 0.8rem;
  font-size: 18px;
  font-weight: 600;
  border: none;
  position: sticky;
  border: 1px solid grey;
  top: 90%;
  left: 50%;
  transform: translate(-50%, 0);
  background: rgba(255, 255, 255, 0.6);
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  border-radius: 5px;
}
.shop-container .filter-tag-container {
  display: flex;
  gap: 1rem;
  margin-top: 1rem;
}
.shop-container .filter-tag-container .filter-tag {
  padding: 0.4rem 1.5rem;
  border: 1px solid black;
  text-transform: capitalize;
  cursor: pointer;
  font-weight: 500;
}
.shop-container .functional-header {
  display: flex;
  align-items: center;
  margin-top: 1rem;
}
.shop-container .functional-header .filter-button {
  display: flex;
  padding: 0.7rem 1.4rem;
  align-items: center;
  gap: 0.8rem;
  font-size: 18px;
  font-weight: 600;
  border: none;
}
@media screen and (max-width: 765px) {
  .shop-container .functional-header .filter-button {
    z-index: 10;
    position: fixed;
    bottom: 1%;
    left: 50%;
    transform: translate(-50%, 0);
    width: 40%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    background: #d8ff68;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
  }
}
.shop-container .functional-header .grid-button {
  display: flex;
  padding: 0.5rem 1.2rem;
  align-items: center;
  gap: 0.8rem;
  font-size: 18px;
  font-weight: 600;
  background: #E7E7E7;
}
.shop-container .functional-header .grid-button h1 {
  font-size: 18px;
  font-weight: 500;
}
.shop-container .functional-header .grid-button .line {
  width: 1.5px;
  height: 30px;
  background: rgb(111, 111, 111);
}
.shop-container .functional-header .grid-button h2 {
  font-size: 18px;
  color: grey;
  cursor: pointer;
}
.shop-container .product-list {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 1rem;
}

@media screen and (max-width: 765px) {
  .shop-container {
    padding: 0 0.6rem;
  }
  .shop-container .filter-tag-container {
    width: 100%;
    gap: 0.5rem;
    flex-wrap: wrap;
  }
  .shop-container .filter-tag-container .filter-tag {
    font-size: 16px;
    text-wrap: nowrap;
    padding: 0.3rem 1rem;
  }
  .shop-container .shop-heading {
    font-size: 11vw;
  }
  .shop-container .functional-header .filter-button {
    padding: 0.6rem 1rem;
  }
  .shop-container .functional-header .grid-button {
    display: none;
    padding: 0.6rem 1rem;
  }
  .shop-container .product-list {
    width: 98%;
    gap: 0.4rem;
    grid-template-columns: repeat(2, 1fr);
  }
}/*# sourceMappingURL=shop.css.map */