.nav_container {
    width: 96%;
    position: fixed;
    top: 1%;
    left: 50%;
    z-index: 9999;
    transform: translate(-50%, 0);
    height: 70px;
    border-radius: 3rem;
    background: #a9a9a960;
    backdrop-filter: blur(20px);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 2rem;
    opacity: 1;
    .nav_links {
        display: flex;
        gap: 1.2rem;
        .nav_link {
            font-size: 18px;
            color: black;
            font-weight: 600;
            text-decoration: none;
            cursor: pointer;
            position: relative;

        }
        // .nav_link:hover{
        //     color: white;
        // }   
        .nav_link::before{
            content: '';
            bottom: -10px;
            position: absolute;
            left:0;
            width: 0%;
            height: 3px;
            background-color: black;
            transition: all .3s;
        }
        .nav_link:hover::before{
            width:100%;
        }
      
    }

    .back-btn{
        padding:.6rem;
        // background: rgba(0, 0, 0, 0.1);
        display: none;
        align-items: center;
        justify-content: center;
        border-radius: 5px;
    }

    .nav_logo {
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        left: 50%;
        img {
            width: 130px;
        }
    }
    .nav_buttons {
        display: flex;
        gap: 0.5rem;
        align-items: center;
        .nav_button {
            width: 40px;
            height: 40px;
            display: flex;
            align-items: center;
            justify-content: center;
            svg {
                width: 30px;
                height: 30px;
            }
        }
        .menu-button{
            display: none;
        }
        .cart-button{
            position: relative;
            .product-count{
                width: 15px;
                border-radius: 50%;
                height: 15px;
                font-size: 10px;
                font-weight: 600;
                display: flex;
                align-items: center;
                justify-content: center;
                background: red;
                color: white;
                position: absolute;
                right: 5%;
                top: 5%;
            }
        }
    }
}

.small-nav-container{
    position: absolute;
    width: 96%;
    top: 1%;
    left: 50%;
    transform: translate(-50%, 0);
    z-index: 99999;
    display: flex;
    align-self: center;
    justify-content: space-between;
    .back-btn-small{
        padding:.6rem;
        background: rgba(0, 0, 0, 0.1);
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 5px;
    }
    .nav_buttons {
        display: flex;
        gap: 0.5rem;
        align-items: center;
        padding: .2rem .8rem;
        border-radius: 2rem;
        background: rgba(0, 0, 0, 0.1);
        .nav_button {
            width: 40px;
            height: 40px;
            display: flex;
            align-items: center;
            justify-content: center;
            svg {
                width: 30px;
                height: 30px;
            }
        }
        .menu-button{
            display: none;
        }
        .cart-button{
            position: relative;
           
            .product-count{
                width: 15px;
                border-radius: 50%;
                height: 15px;
                font-size: 10px;
                font-weight: 600;
                display: flex;
                align-items: center;
                justify-content: center;
                background: red;
                color: white;
                position: absolute;
                right: 5%;
                top: 5%;
            }
        }
    }
}

@media screen and (max-width: 765px) {
    .nav_container {
        // top: 5%;
        padding: 0 0.7rem;
        height: 60px;
        .nav_links {
            display: none;
        }
        .nav_logo {
            position: relative;
            left: 2%;
            img {
                width: 100px;
            }
        }
        .nav_buttons {
            gap: 0.2rem;
            .profile-button {
                display: flex;
            }
        }
    }
    .menu-container{
        display: flex;
    }
}
