.product-detail-container {
  width: 100%;
  height: -moz-fit-content;
  height: fit-content;
  position: absolute;
  z-index: 9999;
  background: white;
  font-family: "Roboto Mono", monospace;
  padding-top: 70px;
}
.product-detail-container .product-header {
  width: 95%;
  display: flex;
  margin: 0 auto;
  align-items: center;
  justify-content: space-between;
}
.product-detail-container .product-header .back-btn {
  padding: 0.6rem;
  background: rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
}
.product-detail-container .product-header img {
  width: 120px;
}
.product-detail-container .product-header .product-header-icons {
  background: rgba(0, 0, 0, 0.1);
  display: flex;
  gap: 0.5rem;
  align-items: center;
  padding: 0.3rem 1rem;
  border-radius: 2rem;
}
.product-detail-container .product-header .product-header-icons .icon {
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
}
.product-detail-container .product-header .product-header-icons .icon svg {
  width: 26px;
}
.product-detail-container .product-details-wrapper {
  width: 80%;
  max-height: -moz-fit-content;
  max-height: fit-content;
  margin: 1rem auto;
  display: flex;
  gap: 2rem;
}
.product-detail-container .product-details-wrapper .product-image {
  width: 45%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  padding: 0 0.5rem;
}
.product-detail-container .product-details-wrapper .product-image img {
  width: 100%;
  height: 95%;
  max-height: 86vh;
  border-radius: 5px;
}
.product-detail-container .product-details-wrapper .product-image .more-img {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 0.4rem;
  gap: 0.8rem;
}
.product-detail-container .product-details-wrapper .product-image .more-img img {
  width: 100%;
  height: 100%;
  max-height: 100px;
}
.product-detail-container .product-details-wrapper .product-detail {
  width: 55%;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
}
.product-detail-container .product-details-wrapper .product-detail .product-name h1 {
  font-size: 18px;
  font-weight: 500;
  text-transform: uppercase;
}
.product-detail-container .product-details-wrapper .product-detail .product-name h2 {
  font-size: 14px;
  font-weight: 400;
  text-transform: uppercase;
}
.product-detail-container .product-details-wrapper .product-detail .product-price {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.product-detail-container .product-details-wrapper .product-detail .product-price h3 {
  font-size: 18px;
  font-weight: 600;
  text-decoration: line-through;
  color: grey;
  text-transform: uppercase;
}
.product-detail-container .product-details-wrapper .product-detail .product-price p {
  font-size: 12px;
  font-weight: 400;
  text-transform: uppercase;
}
.product-detail-container .product-details-wrapper .product-detail .product-price h4 {
  font-size: 18px;
  font-weight: 600;
  text-transform: uppercase;
}
.product-detail-container .product-details-wrapper .product-detail .product-price h5 {
  font-size: 20px;
  color: red;
  text-transform: uppercase;
}
.product-detail-container .product-details-wrapper .product-detail .add-to-cart-box-container {
  width: 100%;
  height: -moz-fit-content;
  height: fit-content;
  background: rgba(0, 0, 0, 0.08);
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.product-detail-container .product-details-wrapper .product-detail .add-to-cart-box-container h2 {
  font-size: 16px;
  text-transform: uppercase;
  font-weight: 500;
}
.product-detail-container .product-details-wrapper .product-detail .add-to-cart-box-container h4 {
  font-size: 15px;
  text-transform: uppercase;
  font-weight: 500;
  color: blue;
}
.product-detail-container .product-details-wrapper .product-detail .add-to-cart-box-container .size-box-container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 0.6rem;
  margin-top: 0.7rem;
}
.product-detail-container .product-details-wrapper .product-detail .add-to-cart-box-container .size-box-container .size-box {
  width: 100%;
  max-width: 40px;
  padding: 0.2rem;
  border: 1px solid black;
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
}
.product-detail-container .product-details-wrapper .product-detail .add-to-cart-box-container button {
  margin-top: 0.2rem;
  width: 100%;
  padding: 0.7rem 0;
  background: black;
  color: white;
  margin-top: 0.3rem;
  border-radius: 10px;
  font-size: 14px;
  text-transform: uppercase;
  border: 1px solid black;
  cursor: pointer;
}
.product-detail-container .product-details-wrapper .product-detail .add-to-cart-box-container .inCart {
  opacity: 0.8;
}
.product-detail-container .product-details-wrapper .product-detail .add-to-cart-box-container p {
  font-size: 14px;
  text-transform: uppercase;
  font-weight: 400;
}
.product-detail-container .product-details-wrapper .product-detail .color-show {
  margin-top: 1rem;
}
.product-detail-container .product-details-wrapper .product-detail .color-show h2 {
  font-size: 16px;
  text-transform: uppercase;
  font-weight: 500;
}
.product-detail-container .product-details-wrapper .product-detail .color-show .colors-box {
  display: flex;
  gap: 1rem;
  margin-top: 1rem;
}
.product-detail-container .product-details-wrapper .product-detail .color-show .colors-box .color-box {
  width: 30px;
  height: 30px;
  border: 1px solid black;
  border-radius: 5px;
}
.product-detail-container .product-details-wrapper .product-detail .shipping-details {
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  margin-bottom: 2rem;
}
.product-detail-container .product-details-wrapper .product-detail .shipping-details h2 {
  font-size: 16px;
  text-transform: uppercase;
  font-weight: 500;
}
.product-detail-container .product-details-wrapper .product-detail .shipping-details p {
  font-size: 14px;
}
.product-detail-container .product-details-wrapper .product-detail .shipping-details li {
  font-size: 14px;
}

@media screen and (max-width: 768px) {
  .product-detail-container .product-header .back-btn {
    padding: 0.4rem;
  }
  .product-detail-container .product-header img {
    display: none;
  }
  .product-detail-container .product-header .product-header-icons {
    padding: 0.4rem 1rem;
  }
  .product-detail-container .product-header .product-header-icons .icon {
    width: 30px;
    height: 30px;
  }
  .product-detail-container .product-header .product-header-icons .icon svg {
    width: 25px;
  }
  .product-detail-container .product-details-wrapper {
    width: 95%;
    flex-direction: column;
    gap: 1rem;
  }
  .product-detail-container .product-details-wrapper .product-image {
    width: 100%;
    height: 100%;
    padding: 0;
  }
  .product-detail-container .product-details-wrapper .product-image img {
    width: 100%;
    max-height: 61vh;
  }
  .product-detail-container .product-details-wrapper .product-image .more-img {
    margin-top: 0.4rem;
    gap: 0.5rem;
  }
  .product-detail-container .product-details-wrapper .product-image .more-img img {
    max-height: 80px;
  }
  .product-detail-container .product-details-wrapper .product-detail {
    width: 100%;
    height: 100%;
  }
  .product-detail-container .product-details-wrapper .product-detail .product-name h1 {
    font-size: 20px;
  }
}
.skeleton {
  margin-top: 2rem;
  background: linear-gradient(90deg, #eee 25%, #f5f5f5 37%, #eee 63%);
  background-size: 400% 100%;
  animation: shimmer 1.4s ease infinite;
  border-radius: 8px;
}

.skeleton-img {
  width: 400px;
  height: 400px;
}

.skeleton-title {
  width: 60%;
  height: 30px;
  margin-bottom: 12px;
}

.skeleton-price {
  width: 30%;
  height: 22px;
  margin-bottom: 15px;
}

.skeleton-text {
  width: 100%;
  height: 80px;
  margin-bottom: 20px;
}

.skeleton-btn {
  width: 150px;
  height: 40px;
}

@keyframes shimmer {
  0% {
    background-position: -400px 0;
  }
  100% {
    background-position: 400px 0;
  }
}
/* ----------- RESPONSIVE ----------- */
@media (max-width: 768px) {
  .product-container {
    flex-direction: column;
    padding: 20px;
  }
  .product-container .product-img,
  .product-container .skeleton-img {
    width: 100%;
    height: 300px;
  }
}/*# sourceMappingURL=product-detail.css.map */