.terms-container{
    width: 85%;
    margin: 0 auto;
    padding-top: 8rem;
    padding-bottom: 5rem;
    font-family: "Roboto Mono", monospace;
    display: flex;
    flex-direction: column;
    gap: 2rem; 
}
.paragraph{
    font-size: 14px;
    margin-bottom: 1rem;
}
.terms-container h2{
    font-size: 16px;
    font-weight: 600;
    text-transform: uppercase;
}

@media screen and (max-width: 768px) {
    .terms-container{
        width: 95%;
    }
    .terms-container h2{
        font-size: 14px;
    }
    .paragraph{
        font-size: 12px;
    }
    
}