.product-detail-container{
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 999999;
    background: white;
    padding: .5rem 0;
    .product-header{
        width: 95%;
        display: flex;
        margin: 0 auto;
        align-items: center;
        justify-content: space-between;
        .back-btn{
            // width: 40px;
            // height: 40px;
            padding:.6rem;
            background: rgba(0, 0, 0, 0.1);
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 5px;
        }
        img{
            width: 120px;
        }
        .product-header-icons{
            background: rgba(0, 0, 0, 0.1);
            display: flex;
            gap: .5rem;
            align-items: center;
            padding: .3rem 1rem;
            border-radius: 2rem;
            .icon{
                width: 40px;
                height: 40px;
                display: flex;
                align-items: center;
                justify-content: center;
                border-radius: 5px;
                svg{
                    width: 26px;
                }
            }
        }
    }
    .product-details-wrapper{
        width: 80%;
        // height: 85vh;
        max-height: fit-content;
        margin: .6rem auto;
        display: flex;
        gap: 2rem;
        .product-image{
            width: 45%;
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            display: flex;
            flex-direction: column;
            padding: 0 .5rem;
            img{
                width: 100%;
                height: 95%;
                max-height: 86vh;
                border-radius: 5px;
            }
            .more-img{
                width: 100%;
                display: flex;
                align-items: center;
                justify-content: space-between;
                margin-top: .4rem;
                gap: .8rem;
                img{
                    width: 100%;
                    height: 100%;
                    max-height: 100px;
                }
            }
        }   
        .product-detail{
            width: 55%;
            height: 100%;
            // border: 1px solid red;
            display: flex;
            flex-direction: column;
            gap: .8rem;
            .product-name{
                h1{
                    font-size: 18px;
                    font-weight: 500;
                    text-transform: uppercase;
                }
                h2{
                    font-size: 14px;
                    font-weight: 400;
                    text-transform: uppercase;
                }
            }
            .product-price{
                display: flex;
                align-items: center;
                justify-content: space-between;
                h3{
                    font-size: 18px;
                    font-weight: 600;
                    text-decoration: line-through;
                    color: grey ;
                    text-transform: uppercase;
                }
                p{
                    font-size: 12px;
                    font-weight: 400;
                    text-transform: uppercase;
                }
                  h4{
                    font-size: 20px;
                    font-weight: 600;
                    text-transform: uppercase;
                }   
                h5{
                    font-size: 20px;
                    color: red;
                    text-transform: uppercase;
                }
            }
        }
    }
}