.category-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2.7rem;
    justify-content: center;
    margin-top: 20px;
    height: 100vh;
    .category-wrapper{
        width: 90%;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 1rem;
        .category-card{
            width: fit-content;
            padding: .4rem 1.5rem .4rem .4rem;
            display: flex;
            justify-content: center;
            gap: 1rem;
            align-items: center;
            border: 1px solid black;
            border-radius: 5rem;
            cursor: pointer;
            transition: all 0.3s ease;
            &:hover{
                transform: scale(1.07);
            }
            .category-img{
                width: 50px;
                height: 50px;
                border-radius: 50%;
                background-color: #f1f1f1;
                display: flex;
                justify-content: center;
                align-items: center;
                border: 1px solid #eae9e9;
                img{
                    width: 50px;
                    height: 50px;
                }
            }
            .category-name{
                font-size: 22px;
                text-transform: capitalize;
                font-weight: 500;
            }
        }
    }
}